* {
  margin: 0;
  padding: 0;
}
/* navbar-section */
/* navbar-section */


.nasted-navbar-section{
  display: flex;
justify-content: space-between;
align-items: center;
width: 1550px;
padding: 25px;
margin: 0 auto -96px auto ;
height: 17px;
}
.nasted-navbar-section h1{
  font-size: 35px;
  margin-left: 196px;
}
.navbar ul {
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
margin-right: 130px;
}
.navbar ul li {
list-style: none;

}
.navbar ul li a {
list-style: none;
text-decoration: none;
font-size: 25px;
}
.navbar button{
  font-size: 15px;
  padding: 20px;
  width: 109px;
  background: #f15b22;
  color: white;
  border: none;
  border-radius: 10px;
}


/* Header Section styles */

.header-section{
  width:1600px;
  height: 808px;
  background-color: rgb(223,222,220));
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./new-year-new-me-main/images/banner/banner1.png");
  background-repeat: no-repeat;
background-size: cover;
/* background-position: 34px -58px; */
margin:0 auto;
border-radius: 25px;

}
.photo-div img{
  height: 415px;
  width: 746px;
  margin-left: 50px;
  
 
  
}
.text-div{
  /* border: 1px solid red; */
  height: 615px;
  width: 746px;
  margin-right: -770px;
 text-align: right;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-right: 230px;
}
.text-mini-div h1{
 font-size: 60px;
 margin-bottom: 25px;
}
.text-mini-div p{
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 400;
/* font-size: 16px; */
color: #444343;

}
.text-mini-div button{
  padding: 25px;
  font-size: 25px;
  padding: 8px;
  font-size: 18px;
  background: #f15d2243;;
}

/* my-failure-section */
.my-failure-section {
  width: 1072px;
  height: 723px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 87px;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
}

.my-failure-section .failours-img-div {
  width: 569px;
  height: 723px;

}

.my-failure-section .failures-description-div {
  width: 416px;
  height: 400px;
}

.failures-description-div p {
  color: #444343;
  padding: 10px;
}

.failures-description-div h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  padding: 15px;
}












/* my plans section css */
/* my plans section css */
/* my plans section css */



.my-plans-section {
  height: 37vh;
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.plans-divs {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 15px;
}

.my-plans-section-tittle {
  text-align: center;
  font-size: 35px;
  margin-bottom: 40px;
}

.plans-divs div {
  height: 300px;
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.plan-div1 {
  text-align: center;
  padding-top: 62px;
}
.plan-div1 p{
  color: #737272;
  padding-top: 15px;
  font-size: 20px;
}


/* banner-2-section */
/* banner-2-section */
.banner-2-section {
  width: 1140px;
  height: 300px;
  background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('./new-year-new-me-main/images/watch.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner-2-section div {
  padding-left: 64px;
  padding-top: 59px;
}


.banner-2-section h1 {
  font-size: 35px;
  padding: 25px 25px 25px 0;
  color: #ffffff;
  /* margin-left: 30px; */
}

.banner-2-section button {
  font-size: 15px;
  padding: 20px;
  width: 145px;
  background: white;
  color: #f15b22;
  border: none;
  border-radius: 5px;
  /* margin-left: 30px; */
  font-weight: 600;
  font-size: 20px;
}

/* footer section */
/* footer section */
/* footer section */

footer {
  width: 1600px;
  height: 577px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #151414;
  gap: 331px;
  margin: 0 auto;
}

footer h1,
p {
  color: #f8f8f8;
}

.footer-left-part div {
  width: 485px;
  height: 317px;
}

.footer-left-part h1 {
  font-size: 45px;
}

.footer-left-part p {
  font-size: 16px;
  line-height: 26px;
  width: 485px;
  height: 78px;
}

.footer-right-part div {
  width: 355px;
  height: 204px;
}

.footer-right-part h1 {
  font-weight: 600;
  font-size: 42px;
  /* line-height: 29px; */
  padding: 15px 0;
}

.footer-right-part input {
  color: #f3f3f3;
  width: 325px;
  height: 65px;
  padding-left: 20px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  background: #151414;
}

.footer-right-part button {
  font-size: 15px;
  padding: 20px;
  width: 145px;
  background: #f15b22;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 16px;
}

.contract-email {
  margin-bottom: -41px;
  margin-top: 15px;
}

.footer-left-part img {
  margin-right: 7px;
}
.footer-copyRight{
  text-align: center;
  font-size: 18px;
  color: white;
  height: fit-content;
  font-family: Cursive;
}